<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tela de login</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
	$(function(){
		$("#logar").click(function(){
			$("#formLogar").submit();
		});
	});
	$(function(){
		$("#cadastro_op").click(function(){
			$("#formCadastro").submit();
		});
	})
	</script>

</head>

<body>
	<div class="container">
		<div class="box">
			<h3>Login Operador</h3>
			<form action="/logar" method="post" id="formLogar">
			
<!-- 			<span th:text="${(null == login)}?'inicial == null':login.nome"></span>  -->
				
				<label for="username">Email</label>: <input type="text"
					placeholder="Enter Email" id="email" name="email"
					autofocus="autofocus" required /> <br /> <br /> 
				
				<label	for="password">Password</label>: <input type="password"
					id="password" placeholder="Enter password" name="password" 
					required /> <br /> <br /> 
				
				<input type="button" id="logar" value="Logar" onclick="msg()"/> 
				
				<input type="button" id="cadastro_op" value="Cadastrar Operador" />
			</form>
			<form action="/cadastroLogin" method="post" id="formCadastro"></form>
		</div>
	</div>
</body>
</html>